<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frutas</key>
	<array>
		<string>manzana 🍊</string>
		<string>sandia 🍉</string>
	</array>
	<key>verduras</key>
	<array>
		<string>lechuga ⚾️</string>
		<string>brocoli 💚</string>
	</array>
	<key>carne</key>
	<array>
		<string>cerdo 🏮</string>
		<string>res ⚽️</string>
	</array>
</dict>
</plist>
